@import "tailwindcss";

@theme {
  --color-accent: #10b981; /* Un vert émeraude plus discret */
}

:root {
  background-color: #0a0a0a;
  color: #fafafa;
}

body {
  font-feature-settings: "cv02", "cv03", "cv04";
  -webkit-font-smoothing: antialiased;
}

/* On garde un dégradé très léger et fixe pour la profondeur */
.bg-subtle {
  background: radial-gradient(at top left, #10b98110 0%, transparent 40%);
}